.main-header {
    background-color: #f1f1f1;
    padding: 1rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .listado-menu {
            list-style: none;
            display: flex;
            align-items: center;
            .item-menu{
              
                margin-right: .5rem;
                button{
                    border: 0;
                    font-size: 16px;
                    padding: 0;
                    cursor: pointer;
                }
                .enlace-menu{
                    padding: .5rem;
                    color: royalblue;
                    text-decoration: none;
                }
                .active{
                    background-color: royalblue;
                    color: #fff;
                }
            }
        }
    }

}