.main-header {
    background-color: #f1f1f1;
    padding: 1rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .listado-menu {
            list-style: none;
            display: flex;
            .item-menu{
                padding: .5rem;
                margin-right: .5rem;
                .enlace-menu{
                    color: royalblue;
                    text-decoration: none;
                }
            }
        }
    }

}