.seccion-profesionales {
    padding: 3rem 0;
    background-color: #E6F6FE;

    h2, h6 {
        text-align: center;
    }

    .container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        .perfil-profesional {
            width: 30%;
            aspect-ratio: 1;
            border-radius: 10px;
            
        }
    }
    
    

}