.banner-home{
    min-height: 90vh;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    .contenedor-textos-banner{
        max-width: 600px;
        padding: 2rem;
        background-color: #00000088;
        color: #fff;
        border-radius: 5px;
        .btn-banner{
            background-color: #fff;
            padding: .3rem .8rem;
            display: block;
            border-radius: 5px;
            width: fit-content;
            margin-top: 1.5rem;
            text-decoration: none;
            
        }
    }
}