.seccion-servicios {
    padding: 3rem 0;

    .container {
        background-color: #E6F6FE;
        border-radius: 10px;
        padding: 2rem;
        display: flex;
        justify-content: space-between;

        .info-servicio {
            background-color: #fff;
            border-radius: 10px;
            padding: 1.5rem;
            width: 30%;
            text-align: center;

            .contenedor-img-servicio {
                padding: .7rem .8rem;
                border-radius: 50%;
                background-color: #25B4F8;
                width: fit-content;
                display: block;
                margin: auto;
                border: 1px solid #fff;
                filter: drop-shadow(0px 1px 3px #25B4F8);
                margin-bottom: 1rem;
                .img-servicio {
                    display: block;
                }            
            }
            .titulo-servicio{
                margin-bottom: 1rem;
            }
            .descripcion-servicio{
                margin-bottom: 1rem;
            }
            .btn-servicio{
                color: #011632;
                font-weight: bold;
                font-size: 14px;
            }


        }
    }
}